.container {
  background: blue;
  height: 80vh;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.parent {
  background: black;
  color: white;
  width: 230px;
  height: 230px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: rotate 2s infinite linear reverse;
}
.parent h1 {
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ball {
  background: radial-gradient(white, red);
  height: 30px;
  width: 30px;
  border-radius: 50%;

  position: absolute;
  left: 50px;
  top: 50px;

  animation: circle 3s infinite linear;
}
@keyframes circle {
  0% {
    left: 50px;
    top: 50px;
  }
  /* 5% {
    top: 350px;
    background: yellow;
  } */
  0% {
    left: 50px;
    top: 50px;
  }
  25% {
    left: 70vw;
    top: 50px;
  }
  50% {
    left: 70vw;
    top: 70vh;
  }
  75% {
    left: 50px;
    top: 70vh;
  }
  100% {
    left: 50px;
    top: 50px;
  }
}
